<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/stations/date</p>
    <p>URL example for one station for one date: http://127.0.0.1:5000/api/v1/1/1860-01-01</p>
    <p>URL example for one station for all dates: http://127.0.0.1:5000/api/v1/1</p>
    <p>URL example for one station for one year: http://127.0.0.1:5000/api/v1/year/1/1920</p>
    <p>{{data|safe}}</p>
</body>
</html>